

.cart {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.cart h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cart_items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart_item {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    align-items: center;
}

.cart_image img {
    width: 100px;
    height: 150px;
    object-fit:cover;
    object-position: center;

}

.cart_details {
    flex-grow: 1;
    padding-left: 20px;
}

.cart_details h4 {
    margin: 0 0 10px;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cart_details p {
    margin: 5px 0;
    color:green;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cart_quantity_controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity_btn {
    background-color: #089da1;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.quantity_btn:hover {
    background-color: #007b7f;
}

.cart_day_controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.cart_day_controls label {
    font-size: 16px;
}

.days_select {
    padding: 5px;
    border: 1px solid #ccc;
}

.cart_btn {
    background-color: #ff0000;
    float: right;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.cart_btn:hover {
    background-color: #cc0000;
}

.cart_total {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.checkout_btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #089da1;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.checkout_btn:hover {
    background-color: #007b7f;
}