

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    margin: 10px 0;
}
.product_box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.product_card {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product_image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.product_tag {
    padding: 10px;
    background-color: #f9f9f9;
}
.product_tag h4 {
    margin: 0;
    font-size: 18px;
}
.product_price {
    color: green;
    font-weight: bold;
}
.product_stock {
    color: red;
}
.product_btn {
    display: inline-block;
    padding: 10px;
    background-color: #0056b3;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
.product_btn:hover {
background-color: #0056b3;
}
