body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
main{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.checkout {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.checkout h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    
}

.checkout_items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checkout_item {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    align-items: center;
}

.checkout_image img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.checkout_details {
    flex-grow: 1;
    padding-left: 20px;
}

.checkout_details h4 {
    margin: 0 0 10px;
    font-size: 24px;
}

.checkout_details p {
    margin: 5px 0;
}

.checkout_total {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.checkout_form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.checkout_form label {
    display: block;
    margin: 10px 0 5px;
}

.checkout_form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.checkout_btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #089da1;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.checkout_btn:hover {
    background-color: #007b7f;
}