body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 20px;
}

.product_image {
    flex: 1;
}

.product_image img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.product_details {
    flex: 2;
    padding: 20px;
}

.product_details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product_details p {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.product_details .price {
    font-size: 22px;
    font-weight: bold;
    color: #E44D26;
}

.product_details .stock {
    font-size: 16px;
    color: green;
    font-weight: bold;
}
.product_details .product_btn {
padding: 8px 20px;
border: 2px solid #089da1;
text-decoration: none;
color: #089da1;
display: inline-block;
margin-top: 8px;
}
.product_details .product_btn:hover {
background: #089da1;
color: #fff;

}