body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}



.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #089da1;
    color: #000000;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.update{
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.update:hover {
    background-color: #0056b3;
}

.status{
    padding: 10px 15px;
    border: black solid 1px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}